$primary-color:#bdb3a7;

*{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
}

.container{
    margin: auto;
    width: 90%;
    max-width: 1140px;
    // background-color: orange;
}

// ====================================
// 頁首
// ====================================

header{
    background-color: #1f1f20;
}
header>.container h1{
    padding-top:20px;
}
header>.container h1>a{
    color:$primary-color;
}

header>.container nav>ul{
    display: flex;
    /* justify-content: space-between; */
}
header>.container nav>ul>li{
    margin-right: 30px;
}
header>.container nav>ul>li>a{
    line-height: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}

// ====================================
// 內容區塊
// ====================================

// 圖片相關樣式
.img-fluid{
    width: 100%;
}
.img-rounded{
    border-radius: 8px;
}
.img-circle{
    border-radius: 100%;
}

// 文字相關樣式
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
// 區塊相關樣式
.row{
    display: flex;
    flex-wrap: wrap; /*換行*/
}



@for $i from 1 through 12 {
    .col-#{$i}{
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
}

@media (min-width:768px){
    @for $i from 1 through 12 {
        .col-md-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
} // 768px end

@media (min-width:1200px){
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
} // 1200px end

@media (min-width:768px){
    .order-md-1{
        order:-1;
    }
}


.title a{
    color: black;
    font-size: 1.5em;
    font-weight: 700;
}
.date{
    color: $primary-color;
}
h2{
    font-size: 2em;
    margin: 60px auto 30px auto;
}

// ====================================
// 頁尾區塊
// ====================================
footer{
    background: $primary-color;
    padding: 40px 0 40px 0;
}
dt{
    font-size: 1.2em;
    margin-bottom: 10px;
}
dd{
    margin-bottom: 4px;
}
dd>a{
    color: #696363;
}

.breadcrumb{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.breadcrumb a{
    color:black;
}
.w-20{
    width: 20%;
}
.w-80{
    width: 80%;
}

.btn-primary{
    background-color: $primary-color;
    padding: 15px;
    color:black;
    display: block;
    margin-bottom:5px;
    border-radius: 4px;
    text-align: center;
}
.btn-primary:hover{
    background: black;
    color:$primary-color;
}
.text-primary{
    color: $primary-color;
}
.img-wrap{
    display: block;
    position: relative;
    // background-color: red;
    margin-bottom: 10px;
}
.img-overlay{
    overflow: hidden;
    border-radius: 8px;
}
.img-wrap img{
    vertical-align: top;
    transition: all .5s;
}
.img-wrap img:hover{
    transform: scale(1.5);
}
.icon-new{
    position: absolute;
    width: 50px;
    line-height: 50px;
    color:white;
    border-radius: 100%;
    left:-25px;
    top:-25px;
    // 下方正中間
    // bottom:-25px;
    // left:50%;
    // margin-left: -25px;
    background-color: green;
}

.flex-space-between{
    justify-content: space-between;
}
// 小於767px以下執行 start 
@media (max-width:767px){
    h1{
        // width: 85%;
    }
    .icon-menu{
        width: 15%;
        display: block;
        background-color: $primary-color;
        color:black;
        line-height: 60px;
        text-align: center;
    }
    header{
        position: relative;
    }
    header > .container nav{
        width: 100%;
        position: absolute;
        top:60px;
        background-color: black;
        // display: none;
    }
    nav{
        // viewport width
        left:-100vw;
        // opacity: 0;
        transition: all .3s;
    }
    .icon-menu:hover + nav{
        left:0px;
        // opacity: 1;
    }
    header > .container nav.active{
        display: block;
    }
    header > .container nav > ul{
        display: block;
    }
    header > .container nav > ul > li{
        text-align: center;
        width: 100%;
        border-bottom:1px solid $primary-color;
    }
    header > .container nav > ul > li > a{
        display: block;
    }
    
} // max-width 767 end

// 超過768px以上執行 start 
@media (min-width:768px){
    .icon-menu{
        display: none;
    }
} // min-width 768 end 

// $i index
// for迴圈
// from through 從 1 開始到 3
@for $i from 1 through 10 {
    .fz-#{$i}{
        font-size: $i*1em;
    }
}

@for $i from 1 through 5 {
    .mb-#{$i}{
        margin-bottom: $i * 1em;
    }
}
