$primary-color:#bdb3a7;

*{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
}

.container{
    margin: auto;
    width: 90%;
    max-width: 1140px;
    // background-color: orange;
}

// ====================================
// 頁首
// ====================================

header{
    background-color: #1f1f20;
}
header>.container>h1{
    padding-top:20px;
}
header>.container>h1>a{
    color:$primary-color;
}

header>.container>nav>ul{
    display: flex;
    /* justify-content: space-between; */
}
header>.container>nav>ul>li{
    margin-right: 30px;
}
header>.container>nav>ul>li>a{
    line-height: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}

// ====================================
// 內容區塊
// ====================================
