$primary-color:#bdb3a7;

*{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
}

.container{
    margin: auto;
    width: 90%;
    max-width: 1140px;
    // background-color: orange;
}

// ====================================
// 頁首
// ====================================

header{
    background-color: #1f1f20;
}
header>.container>h1{
    padding-top:20px;
}
header>.container>h1>a{
    color:$primary-color;
}

header>.container>nav>ul{
    display: flex;
    /* justify-content: space-between; */
}
header>.container>nav>ul>li{
    margin-right: 30px;
}
header>.container>nav>ul>li>a{
    line-height: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}

// ====================================
// 內容區塊
// ====================================

// 圖片相關樣式
.img-fluid{
    width: 100%;
}
.img-rounded{
    border-radius: 8px;
}
.img-circle{
    border-radius: 100%;
}

// 文字相關樣式
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
// 區塊相關樣式
.row{
    display: flex;
    flex-wrap: wrap; /*換行*/
}

.col-3{
    width: calc(100% / 4 - 30px);
    margin:0px 15px 40px 15px;
    /*上右下左*/
}
.col-4{
    width: calc(100% / 3 - 30px);
    margin:0px 15px 40px 15px;
    /*上右下左*/
}
.col-6{
    width: calc(100% / 2 - 30px);
    margin:0px 15px 40px 15px;
    /*上右下左*/
}
.col-8{
    width: calc(100% / 1.5 - 30px);
    margin:0px 15px 40px 15px;
    /*上右下左*/
}
.col-9{
    width: calc(100% / 1.33333333333 - 30px);
    margin:0px 15px 40px 15px;
    /*上右下左*/
}

@media (min-width:768px){
    .col-md-3{
        width: calc(100% / 4 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
    .col-md-4{
        width: calc(100% / 3 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
    .col-md-6{
        width: calc(100% / 2 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
    .col-md-8{
        width: calc(100% / 1.5 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
    .col-md-9{
        width: calc(100% / 1.33333333333 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
}

@media (min-width:1200px){
    .col-lg-3{
        width: calc(100% / 4 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
    .col-lg-4{
        width: calc(100% / 3 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
    .col-lg-6{
        width: calc(100% / 2 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
    .col-lg-8{
        width: calc(100% / 1.5 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
    .col-lg-9{
        width: calc(100% / 1.33333333333 - 30px);
        margin:0px 15px 40px 15px;
        /*上右下左*/
    }
}

.title a{
    color: black;
    font-size: 1.5em;
    font-weight: 700;
}
.date{
    color: $primary-color;
}
h2{
    font-size: 2em;
    margin: 60px auto 30px auto;
}

// ====================================
// 頁尾區塊
// ====================================
footer{
    background: $primary-color;
    padding: 40px 0 40px 0;
}
dt{
    font-size: 1.2em;
    margin-bottom: 10px;
}
dd{
    margin-bottom: 4px;
}
dd>a{
    color: #696363;
}

.breadcrumb{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.breadcrumb a{
    color:black;
}
.w-20{
    width: 20%;
}
.w-80{
    width: 80%;
}

.btn-primary{
    background-color: $primary-color;
    padding: 15px;
    color:black;
    display: block;
    margin-bottom:5px;
    border-radius: 4px;
    text-align: center;
}
.btn-primary:hover{
    background: black;
    color:$primary-color;
}
.text-primary{
    color: $primary-color;
}
.img-wrap{
    display: block;
    position: relative;
    // background-color: red;
    margin-bottom: 10px;
}
.img-overlay{
    overflow: hidden;
    border-radius: 8px;
}
.img-wrap img{
    vertical-align: top;
    transition: all .5s;
}
.img-wrap img:hover{
    transform: scale(1.5);
}
.icon-new{
    position: absolute;
    width: 50px;
    line-height: 50px;
    color:white;
    border-radius: 100%;
    left:-25px;
    top:-25px;
    // 下方正中間
    // bottom:-25px;
    // left:50%;
    // margin-left: -25px;
    background-color: green;
}


// 小於767px以下執行 start 
@media (max-width:767px){
    h1{
        // width: 85%;
        float: left;
    }
    .icon-menu{
        float: right;
        width: 15%;
        display: block;
        background-color: $primary-color;
        color:black;
        line-height: 60px;
        text-align: center;
    }
    
    header > .container > nav{
        width: 100%;
        float: left;
        display: none;
    }
    header > .container > nav.active{
        display: block;
    }
    header > .container > nav > ul{
        display: block;
    }
    header > .container > nav > ul > li{
        text-align: center;
        width: 100%;
    }
    header > .container > nav > ul > li > a{
        display: block;
    }
    .overflow-hidden{
        overflow: hidden;
    }
} // max-width 767 end

// 超過768px以上執行 start 
@media (min-width:768px){
    .icon-menu{
        display: none;
    }
} // min-width 768 end 